/******
*
*
* Education Section
*
*/

.education-contain .education-contain-header {
    padding-top: 60px;
    padding-right: 0;
    text-align: center;
    color: #fff;
    background-color: #4A1772;
    text-transform: uppercase; 
}